@tailwind base;
@tailwind components;
@tailwind utilities;

 * {
    font-family: "Lora", serif;
    font-weight: 500;
    font-style: normal;
  }

  html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;

}
